<div class="flex justify-between flex-wrap pt-12">
    <picture class="sm:text-center sm:w-72">
        <source srcset="./assets/images/miembro1.png?as=webp" type="image/webp" />
        <img class="w-40 sm:w-72" src="./assets/images/miembro1.png" alt="Presidente" />
        <h2 class="picture-title">Presidente</h2>
        <p>Es el presidente del club de Ajedrez, se encarga de que todo vaya bien y el club funcione correctamente.</p>
    </picture>
    <picture class="sm:text-center sm:w-72">
        <source srcset="./assets/images/miembro2.png?as=webp" type="image/webp" />
        <img class="w-40 sm:w-72" src="./assets/images/miembro2.png" alt="Vicepresidente" />
        <h2 class="picture-title">Vicepresidente</h2>
        <p>Es el vicepresidente del club de Ajedrez, se encarga de que todo vaya bien y el club funcione correctamente.
        </p>
    </picture>
    <picture class="sm:text-center sm:w-72">
        <source srcset="./assets/images/miembro3.png?as=webp" type="image/webp" />
        <img class="w-40 sm:w-72" src="./assets/images/miembro3.png" alt="Directiva" />
        <h2 class="picture-title">Directiva</h2>
        <p>Es la directiva del club de Ajedrez, se encarga de que todo vaya bien y el club funcione correctamente.</p>
    </picture>
    <picture class="sm:text-center sm:w-72">
        <source srcset="./assets/images/miembro4.png?as=webp" type="image/webp" />
        <img class="w-40 sm:w-72" src="./assets/images/miembro4.png" alt="Contacto clientes" />
        <h2 class="picture-title">Contacto clientes</h2>
        <p>Es el contacto de clientes del club de Ajedrez, se encarga de que todo vaya bien y el club funcione
            correctamente.</p>
    </picture>
    <picture class="sm:text-center sm:w-72">
        <source srcset="./assets/images/miembro5.png?as=webp" type="image/webp" />
        <img class="w-40 sm:w-72" src="./assets/images/miembro5.png" alt="Organizador eventos" />
        <h2 class="picture-title">Organizador eventos</h2>
        <p>Es el organizador de eventos del club de Ajedrez, se encarga de que todo vaya bien y el club funcione
            correctamente.</p>
    </picture>
    <picture class="sm:text-center sm:w-72">
        <source srcset="./assets/images/miembro6.png?as=webp" type="image/webp" />
        <img class="w-40 sm:w-72" src="./assets/images/miembro6.png" alt="Juez" />
        <h2 class="picture-title">Juez</h2>
        <p>Es el juez del club de Ajedrez, se encarga de que todo vaya bien y el club funcione correctamente.</p>
    </picture>
</div>