@use "sass:color";
@use 'sass:math';

$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$enable-shadows: true;
$alert-border-width: 1.6px;
$btn-padding-y: 1rem;
$btn-padding-x: 2rem;
$nav-link-hover-color: blue;
$carousel-indicator-width: 3rem;
$carousel-control-icon-width: 3rem;